<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="darkMode" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/mbeisser/repo/TileMolester-develop0"/>
  <property key="recentFile" value="/home/mbeisser/repo/gauntlet_mame_gfx/rom/gauntlet_4bpp_planar_tiles_tiles_only.bin"/>
  <property key="recentFile" value="/home/mbeisser/repo/gauntlet_mame_gfx/scripts/bitplane_roms_to_4bpp_planar_tiles.py"/>
  <property key="recentFile" value="/home/mbeisser/repo/gauntlet_mame_gfx/rom/gauntlet_alpha_numeric_2bpp_linear_tiles.bin"/>
  <property key="recentFile" value="/home/mbeisser/repo/mame/gauntlet_4bpp_planar_interleaved_raw.bin"/>
  <property key="recentFile" value="/home/mbeisser/repo/mame/gauntlet_4bpp_planar.bin"/>
  <property key="recentFile" value="/home/mbeisser/repo/mame/gauntlet_4bpp_planar_interleaved_inv.bin"/>
  <property key="lastPath" value="/home/mbeisser/repo/gauntlet_mame_gfx/rom"/>
</settings>
